<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item button [routerLink]="['/admin/restaurants']">Panel: Restaurantes</ion-item>
    <ion-item button [routerLink]="['/admin/users']">Panel: Usuarios</ion-item>
  </ion-list>

  <!-- <ion-list *ngIf="!loading; else loadingTpl">
    <ion-item *ngFor="let r of list" [routerLink]="['/restaurant', r.id]" detail>
      <ion-label>
        <h2>{{ r.name }}</h2>
        <p>{{ r.address }}</p>
      </ion-label>
    </ion-item>
  </ion-list> -->
  <ng-template #loadingTpl>
    <ion-spinner class="ion-padding"></ion-spinner>
  </ng-template>
</ion-content>
